# Application
APP_ENV=local

# Demo TSV -> PDF flow
TSV_INPUT_FILE=example.tsv

# Report generator
REPORTS_DIR=reports

# TSV watcher
WATCHER_DIR=.
WATCHER_HEARTBEAT=3s

# HTTP API bind address
HTTP_ADDR=:8080

# Postgres
# Example:
# POSTGRES_DSN=postgres://postgres:postgres@localhost:5432/biocadtt?sslmode=disable
POSTGRES_DSN=
POSTGRES_MAX_CONNS=10
POSTGRES_MIN_CONNS=1
POSTGRES_MAX_CONN_LIFETIME=30m
POSTGRES_MAX_CONN_IDLE_TIME=5m
POSTGRES_HEALTH_CHECK_PERIOD=1m
